@import "styles/variables.scss";
@import "styles/breakpoints.scss";

.recipe {
  padding-top: 49px;
  padding-bottom: 53px;

  &__title {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 37px;

    @include small-tablet {
      font-size: 30px;
    }
  }

  &__back {
    background: none;
    padding: 0;

    &:hover svg path {
      stroke: #fff;
    }
  }
}
