@import "styles/variables.scss";

.navigation {
  display: flex;
  position: fixed;
  top: 0;
  width: 50%;
  height: 100vh;
  padding: 50px 40px;
  background-color: #fff;
  flex-direction: column;
  gap: 50px;
  z-index: 999;
  // box-shadow: $shadow-box-shadow;
  transform: translate(200%);
  transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

  @media (max-width: 600px) {
    width: 100%;
  }

  &--open {
    transform: translateX(0);
    transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &__link {
    position: relative;
    color: var(--text-primary, #000);
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    background: no-repeat 0 100%;
    background-image: linear-gradient(currentColor, currentColor);
    background-size: 0% 2px;
    transition: background-size 0.3s ease;

    &--active {
      color: $brand;
      font-weight: 600;
      font-size: 25px;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: 0;
      height: 2px;
      background: currentColor;
      width: 0;
      transition: all 0.3s linear;
    }
  }

  a:hover::after {
    width: 100%;
  }
}

.overlay {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
  transition: opacity 0.5s ease;

  &--open {
    opacity: 1;
  }
}
