@import "styles/variables.scss";

.table {
  width: 100%;
  overflow: auto;

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  &__title-wrap {
    background-color: $text-secondary;
  }

  &__title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 12px;
  }

  &__days {
    th {
      padding: 12px;
      background-color: $button-primary-bg-disabled;

      &:first-child {
        background-color: transparent;
      }
    }
  }
}
