@import "styles/variables.scss";

.search {
  text-align: center;
  margin-bottom: $spacing-20;

  &__text {
    margin-bottom: 48px;
  }

  &__text-underline {
    text-decoration: underline;
  }

  &__input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 19px;
  }

  &__input-box {
    position: relative;
    width: 100%;
  }

  &__autocomplite {
    position: absolute;
    left: 0;
    top: 60px;
    width: 100%;
    background-color: #fff;
    box-shadow: $shadow-box-shadow;
    border-radius: $border-radius;
    list-style: none;
    text-align: left;
    margin: 0;
    padding: 0;
    z-index: 100;
    max-height: 240px;
    height: auto;
    overflow: auto;
  }

  &__autocomplite-item {
    padding: 10px;

    &:hover {
      background: $text-secondary;
      cursor: pointer;
      transition: background 0.3s ease;
    }
  }

  &__input {
    position: relative;
    border-radius: $border-radius;
    border: 1px solid $input-border;
    background: $input-bg;
    transition: box-shadow 0.3s ease;

    &:hover {
      box-shadow: $shadow-box-shadow;
    }
  }

  &__delete {
    width: 30px;
    height: 30px;
    opacity: 0.3;
    transition: opacity 0.3s linear;
    cursor: pointer;
    z-index: 20;

    &:hover {
      opacity: 0.8;
    }
  }

  &__btn {
    padding: $spacing-14 $spacing-20;
    border-radius: $border-radius;
  }
}
