.header {
  background: #fff;
  padding: 20px 0;
  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    margin-right: 80px;

    img {
      margin-right: 20px;
    }
  }

  &__user {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 17px;
  }

  &__user-icon {
    transition: transform 0.3s ease;
  }

  &__user-icon:hover {
    transform: scale(1.1);
  }
}
