@import "styles/variables.scss";

.icon {
  fill: $text-secondary;

  &--secondary {
    fill: $text-secondary;
  }

  &--primary {
    fill: $text-primary;
  }

  &--accent {
    fill: $text-accent;
  }
}
