@import 'styles/variables.scss';
@import 'styles/breakpoints.scss';

.directions {
  &__title {
    @include mobile {
      text-align: center;
    }
  }

  &__wrapper {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: $spacing-16;
  }
}
